/** Navigation Bar CSS for all pages**/

body {
    font-family: "montserrat", sans-serif;
    background-color: #233237;
}

.navbar {
    background-color: #18121E;
    border-bottom: 0px;
    padding-left: 10px;
}

.nav {
    font-family: "montserrat", sans-serif;
    font-size: 10px;
    border-bottom: 0px;
}

#logo_statometer{
    color: #EAC67A;
    font-size: 30px;
    padding-right: 10px;
    font-family: 'Space Mono', monospace;
}

.dropdown-menu {
    background-color: #18121E;
    opacity: .5;
    font-size: 40px;
    font-family: "montserrat", sans-serif;
}

.navbar-right {
    padding-right: 20px;
}

.navbar-collapse {
    text-align: center;
}

.fa {
    padding: 0px;
    font-size: 10px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

li a {
    color: white;
}

li:hover {
    background-color: lightgray;
    opacity: 0.8;
}

/**Main Background Photo for Index HTML**/



.opacity_change {
    opacity: 0.8;
}

.jumbotron p {
    font-family: "montserrat", sans-serif;
    font-size: 20px;
    color: white;
}


h2 {
    color: white;
}

h3 {
    color: #984B43;
    text-align: center;
    font-family: "montserrat", sans-serif;
}

h5 {
    text-align: center;
    color: white;
}

.main_title {
    color: #984B43;
    font-family: "montserrat", sans-serif;
    text-align: center;
    font-style: italic;
}

hr {
    border: 0;
    border-top: 1px solid #233237;
    border-bottom: 1px solid #233237;
}

img {
    width:100%;
}

img:hover {
    opacity: 0.5;
}

/*footer*/

footer {
    background-color: #0E0816;
}

footer p {
    color: white;
    font-size: 15px;
    font-family: "montserrat", sans-serif;
}
